/* Root definition for CSS custom properties */
:root {
    --primary-color: #333;
    --background-color: #f4f4f4;
    --accent-color: #007bff;
    --text-color: #333;
    --header-footer-bg: #333;
    --link-color: #fff;
    --link-hover-decoration: underline;
}

/* Universal box-sizing */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Reset margins and paddings for specific elements */
body, h1, h2, h3, p, ul, li, figure, figcaption, header, footer, main, nav, #about {
    margin: 0;
    padding: 0;
}

/* Base body styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

.logo {
    background: url('oi_logo.png') no-repeat center center / contain;
    width: 100%; /* Make the logo responsive to the container's width */
    height: 30vh; /* Adjust this value based on your preference */
}

/* Header and footer */
header, footer {
    background: var(--header-footer-bg);
    color: var(--link-color);
    text-align: center;
    padding: 1rem 0;
}

/* Navigation */
nav {
    padding-bottom: 1rem;
    text-align: center;
}

nav a {
    color: var(--link-color);
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: var(--link-hover-decoration);
}

/* Main and section styling */
main, #about {
    padding: 20px;
}

#about {
    background: var(--background-color);
    margin-bottom: 20px;
    border-left: 4px solid var(--accent-color);
}

/* Typography */
h1, h2 {
    color: var(--primary-color);
    padding-bottom: 1rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

/* Responsive typography adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

/* Dark mode colors adjustment */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #ffffff; /* Making all text whiter in dark mode */
        --header-footer-bg: #222;
        --link-color: #ddd;
        --about-bg: #2c2c2c;
    }

    /* You might want to ensure this applies to all text elements, including nav a */
    body, h1, h2, h3, p, ul, li, figure, figcaption, header, footer, main, nav a, #about {
        color: var(--text-color); /* Applying the whiter text color */
    }
}
